.survey-btn {
    width: fit-content;
}

.survey-previous-next {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
}

/*
.survey-prev {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0px 50px 0px;
}

.survey-next {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px 50px 0px;
}
*/

#survey-body {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#survey-question {
    height: 300px;
}