html,
body,
#react-root {
  height: 80vh;
}

body {
  font-family: 'Open Sans', '-apple-system', 'Roboto', 'Helvetica Neue', 'sans-serif';
  margin-top: 70px;
  overflow-x: hidden;
}

img {
  display: inline-block;
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.center-on-page {
  height: 80vh;
  max-width: 95vw;
  display: grid;
  place-items: center;
}

.plain-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0.5rem;
  gap: 0.6rem;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
  margin: 0.5rem;
  gap: 0.6rem;
}

.two-column-grid .grid-left {
  width: 100%;
  margin-right: auto;
  text-align: left;
}
.two-column-grid .grid-right {
  width: 100%;
  margin-left: auto;
  text-align: right;
}

.foot-spacer {
  z-index: -1;
  height: 100px;
}

.corner-buttons {
  position: absolute;
  top: 0;
  left: 0;
}


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
