.recommended {
  margin: 5%;
  background-color: inherit;
}

.recommended a {
  color: inherit;
  text-decoration: none;
}

.recommended a:hover > .card {
  background-color: #aaaaaa;
}

.recommended .card {
  outline: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}